---
import 'normalize.css';
import '@fontsource-variable/gluten';
import '@fontsource-variable/manrope';

// @ts-ignore
import { Seo } from "astro-seo-meta";

interface Props {
	title: string;
	description?: string;
	keywords?: string[];
}

const { title, description, keywords } = Astro.props;

// const ogImagePath = "/assets/banner.png";
// const url = "https://agrume.js.org";
// const ogImage = `${url}${ogImagePath}`;

const ogImage = "https://raw.githubusercontent.com/arthur-fontaine/agrume/main/.github/assets/banner.png";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/assets/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<Seo
			title={title}
			description={description}
			keywords={keywords}
			facebook={{
				image: ogImage,
			}}
			twitter={{
				image: ogImage,
				site: "@voithure",
				card: "summary_large_image",
			}}
		/>
		<title>{title}</title>
	</head>
  <body>
    <slot />
	</body>
</html>

<style>
	html {
		scrollbar-gutter: stable;
	}

  body {
    font-family: 'Manrope Variable', sans-serif;
  }
</>
